*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
input,
button {
  cursor: pointer;
  border: none;
  outline: none;
}
body {
  color: #ffffff;
  font-size: 100%;
  font-family: 'Teko', sans-serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: transparent url(images/background.jpg) center center no-repeat;
}
input,
button {
  cursor: pointer;
  border: none;
  outline: none;
}
.container {
  min-width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
}
.items__add {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.items__list {
  min-height: 200px;
  min-width: 260px;
}
.items__list li {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  padding-top: 0.5rem;
}
[type='text'],
[type='submit'] {
  min-height: 2rem;
  padding: 0 0.5rem;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
[type='submit'] {
  margin-left: 0.5rem;
  color: #ffffff;
  transition: background-color 500ms;
  background-color: #06d6a0;
}
[type='submit']:hover {
  transition: background-color 500ms;
  background-color: #049f76;
}
[type='checkbox'] {
  height: 1rem;
  width: 1rem;
}
.item__name {
  padding: 0 2rem 0 1rem;
  width: 280px;
}
.item__remove {
  cursor: pointer;
}
