:root {
  --base: #ffc600;
  --grayscale: 0%;
  --blur: 0px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family: 'Teko', sans-serif;
  color: whitesmoke;
  background-color: #4b535a;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  transform: translateY(-80px);
}
.controls {
  display: flex;
  justify-content: space-around;
  min-width: 600px;
  padding-bottom: 1rem;
}
.media img {
  border: 5px solid var(--base);
  filter: grayscale(var(--grayscale)) blur(var(--blur));
}
.title {
  color: var(--base);
}
.controls__grayscale,
.controls__blur,
.controls__bascolor {
  width: 200px;
  display: flex;
  align-items: center;
}
label {
  padding-right: 1rem;
}
input[type='range'] {
  -webkit-appearance: none;
  outline: none;
  height: 2px;
  max-width: 100px;
  box-sizing: border-box; /* même modèle de boîte pour tous */
  transition: opacity 0.2s;
  cursor: pointer;
}
input[type='color'] {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
